extends layout
	
mixin Header
	block content
		h1= title
		p Welcome to #{title}
		
		if (message)
		p Message: #{message}
		
		hr
		
block content

	if server.setupdone
		if session.islogged
		
			+Header
			
			include ./partials/tab-bar.pug
			
			case navigation.tab
				when -2  
					h2 Restarting
					include ./partials/restarting.pug
				when 0  
					h2 Login/logout
					include ./partials/login.pug
				when 1  
					h2 Container
					include ./partials/container-status.pug
				when 2
					h2 Application
					include ./partials/server-status.pug			
				when 3  
					h2 Users
					include ./partials/user-management.pug
				default
					h2 Login
					include ./partials/login.pug
		else
			+Header
		
			case navigation.tab
				when -2  
					h2 Restarting
					include ./partials/restarting.pug
				default
					h2 Login
					include ./partials/login.pug
	else
		case navigation.tab
			when -2  
				h2 Restarting
				include ./partials/restarting.pug
			default
				h2 Setup
				include ./partials/install.pug
	